.additional-product__table {
  min-width: 280px;
  border-collapse: collapse;
  border-spacing: 0;
}

.additional-product__item-cell {
  line-height: 14px;
  color: $gray-font-color;
  padding-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .additional-product__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 38px;
  }

  .additional-product__button {
    display: block;
    width: 100%;
  }
}
