.address-title {
  @include paragraph-reset();

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .address-title {
    font-size: 20px;
    line-height: 25px;
    width: 27%;
  }
}
