.bonus {
  text-align: center;
  // position: relative;
  // // z-index: -1;

  &::before {
    content: "";
    display: block;
    margin: 0 auto;
    background-image: url("../../img/icon-gift.svg");
    width: 55.5px;
    height: 60px;
    margin-bottom: 62px;
  }
}

.bonus__text {
  color: $white-font-color;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  padding-bottom: 43px;
}
