.cat-data {
  border: none;
  margin: 0;
  padding: 0;
}

.cat-data__caption {
  margin-bottom: 14px;
}

.cat-data__caption:last-child {
  margin-bottom: 23px;
}

.cat-data__field {
  margin-left: 15px;
  padding: 13px 0 13px 13px;
}
