.catalog-additional__heading {
  @include heading-reset();

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 32px 0;
}

.catalog-additional__bonus {
  @include paragraph-reset();

  background-color: #71b548;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .catalog-additional__heading {
    padding: 0 38px;
    font-size: 36px;
    line-height: 36px;
  }

  .catalog-additional__list {
    flex-direction: column;
  }

  .catalog-additional__bonus {
    background-color: #71b548;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
  }
}
