.catalog-additional__wrapper {
  margin-bottom: 35px;
}

.catalog-additional__heading-wrapper {
  margin-bottom: 0;
}

.catalog-additional__heading {
  padding-top: 28px;
  padding-bottom: 33px;
}

.catalog-additional__list {
  margin-bottom: 40px;
}

.catalog-additional__bonus {
  @include paragraph-reset();

  background-color: #71b548;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  padding-top: 64px;
  padding-bottom: 42px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

@media (min-width: $tablet-width) {
  .catalog-additional__wrapper {
    margin-bottom: 75px;
  }

  .catalog-additional__heading {
    padding-top: 0;
    padding-bottom: 0;
  }

  .catalog-additional__heading-wrapper {
    margin-bottom: 80px;
  }

  .catalog-additional__list {
    flex-direction: column;
    display: block;
    margin-bottom: 70px;
  }

  .catalog-additional__bonus {
    background-color: #71b548;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding-bottom: 68px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog-additional__heading {
    padding: 0;
    padding-top: 6px;

    &::after {
      width: 72%;
      top: 66%;
    }
  }

  .catalog-additional__bonus {
    width: 245px;
    padding-top: 64px;
    padding-bottom: 40px;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
    height: 289px;
    flex-direction: column;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }

  .catalog-additional__list {
    border-left: none;
    border-right: none;
    margin-bottom: 11px;
  }

  .catalog-additional__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}
