.comment {
  border: none;
  margin: 0;
  padding: 0;
}

.comment textarea {
  border: 1px solid #cdcdcd;
}

.comment__field {
  @include margin-padding-rest();

  min-width: 280px;
  min-height: 150px;
  font-size: 16px;
  line-height: 18px;
  color: $gray-font-color;
  text-transform: uppercase;
  padding: 13px;
  width: 280px;
  display: block;
  margin: 0 auto;
}

.comment__heading-wrapper {
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .comment {
    width: 100%;
  }

  .comment__caption {
    margin-bottom: 76px;
  }

  .comment__heading-wrapper {
    margin-bottom: 78px;
  }

  .comment__field {
    font-size: 20px;
    line-height: 30px;
    min-height: 174px;
    padding-top: 9px;
    width: 630px;
    padding-left: 18px;
    margin-top: -4px;
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .comment__heading-wrapper {
    &::after {
      top: 62%;
    }
  }

  .comment__field {
    width: 1220px;
    padding-top: 9px;
    padding-left: 19px;
  }
}
