.comment {
  border: none;
  margin: 0;
  padding: 0;
}

.comment__caption {
  display: block;
  margin-bottom: 35px;

  &::after {
    width: 158px;
    top: 60%;
    right: -20px;
  }
}

.comment textarea {
  border: 1px solid #cdcdcd;
}

.comment__field {
  @include margin-padding-rest();

  min-width: 280px;
  min-height: 150px;
  font-size: 16px;
  line-height: 18px;
  color: $gray-font-color;
  text-transform: uppercase;
  padding: 13px;
}

@media (min-width: $tablet-width) {
  .comment__caption {
    margin-bottom: 76px;

    &::before {
      top: 60%;
      left: -71px;
    }

    &::after {
      width: 76%;
      top: 60%;
      right: -68px;
    }
  }

  .comment__field {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    min-height: 174px;
    padding-top: 9px;
    padding-left: 18px;
  }
}
