.example {
  background-color: #f2f2f2;
}

.example__wrapper {
  @include mobile-content-size();
}

.example__heading {
  padding-top: 18px;
  margin-bottom: 25px;
}

.example__wrapper-item {
  margin-bottom: 28px;
}

.example__text {
  @include paragraph-reset();
  color: #444444;
  font-family: "Arial", sans-serif;
  margin-bottom: 25px;
  width: 99%;
}

.example__info-wrapper {
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
}

.example__description-result {
  margin-bottom: 21px;
}

.example__expenses {
  display: block;
  text-align: center;
}

.example-result__image {
  @include paragraph-reset();
}

.example__image {
  width: 320px;
  height: 240px;

  &--after {
    display: none;
  }
}

.example__test {
  display: flex;
  justify-content: space-around;
}

.example__test-button {
  @include button-style-reset();

  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    @include tablet-content-size();
  }
}

@media (min-width: $desktop-width) {
  @include desktop-content-size();
}
