.extra-product {
  border: none;
  margin: 0;
  padding: 0;
}

.extra-product__heading {
  padding-top: 26px;
  margin-bottom: 35px;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    width: 136px;
    top: 78%;
    right: -20px;
  }
}

.extra-product__wrapper-field {
  display: flex;
  margin-bottom: 12px;
}

.extra-product__items-wrapper {
  margin-bottom: 34px;
}

.extra-product__caption {
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    margin-right: 16px;
  }
}

.extra-product input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 19px;
  border-right: 2px solid #68b738;
  border-bottom: 2px solid #68b738;
  top: 1px;
  left: 9px;
  transform: rotate(45deg);
}

.extra-product input[type="checkbox"] {
  &:hover + label {
    &::before {
      border: 1px solid #bababa;
    }
  }

  &:active + label {
    color: rgba(34, 34, 34, 0.3);

    &::before {
      border-color: rgba(186, 186, 186, 0.3);
    }

    &::after {
      border-color: rgba(104, 183, 56, 0.3);
    }
  }

  &:focus + label {
    outline: 1px solid blue;
  }
}

@media (min-width: $tablet-width) {
  .extra-product__heading {
    padding-top: 62px;
    margin-bottom: 57px;

    &::before {
      top: 86%;
      left: -71px;
    }

    &::after {
      width: 71%;
      top: 86%;
      right: -68px;
    }
  }

  .extra-product__caption::before {
    width: 40px;
    height: 40px;
  }

  .extra-product input[type="checkbox"]:checked + label::after {
    top: 7px;
    left: 14px;
  }

  .extra-product__items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  .extra-product__wrapper-field {
    width: 45.5%;
    margin-bottom: 32px;
  }

  &.extra-product__caption::before {
    margin-right: 18px;
  }
}

@media (min-width: $desktop-width) {
  .extra-product__heading {
    padding-top: 62px;
    margin-bottom: 57px;

    &::before {
      top: 87%;
      left: -40px;
    }

    &::after {
      width: 85%;
      top: 87%;
    }
  }

  .extra-product__wrapper-field {
    width: 20%;
    margin-bottom: 62px;
  }

  .extra-product__items-wrapper {
    margin-bottom: 0;
  }
}
