.footer-wrapper {
  @include mobile-content-size();
}

.footer__logo {
  display: block;
  text-align: center;
}

.footer__copyright {
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .footer-wrapper {
    @include tablet-content-size();
  }
}

@media (min-width: $desktop-width) {
  .footer-wrapper {
    @include desktop-content-size();
  }
}
