.form-field {
  font-size: 16px;
  line-height: 20px;
  color: $gray-font-color;
  text-transform: uppercase;
  border-width: 0;
  border: 1px solid #e6e6e6;
  width: 100%;
  box-sizing: border-box;
  padding: 11.3px 0 13px 14px;
}
