.form__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 21px;
}

.form input {
  border: 1px solid rgba(230, 230, 230, 0.5);

  &:hover {
    border-color: rgba(230, 230, 230, 1);
  }

  &:focus {
    border: 2px solid rgba(68, 68, 68, 1);
  }

  &:focus + svg {
    fill: #68b738;
  }
}

// class error
// .form .input-error {
//   border: 2px solid #ff8282;

//   & + svg {
//     fill: #ff8282;
//   }
// }

.form__cat-data {
  margin-bottom: 20px;
}

.form__owner-data {
  margin-bottom: 4px;
}

.form input[disabled] + label {
  opacity: 0.3;
  color: #222222;
}

@media (min-width: $tablet-width) {
  .form__blocks-wrapper {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 30px;
    padding-left: 70px;
    padding-right: 67px;
  }

  .form__cat-data {
    margin-bottom: 50px;
    width: 100%;
  }

  .form__programm-target {
    border-bottom: none;
    width: 100%;
  }

  .form__owner-data {
    margin-bottom: 43px;
  }

  .form__button {
    font-size: 20px;
    line-height: 20px;
    min-height: 52px;
    margin: 0;
    width: 45%;
  }

  .form__elements-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__blocks-wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__cat-data {
    width: 46.7%;
    margin-bottom: 0;
  }

  .form__programm-target {
    width: 46.7%;
  }

  .form__owner-data {
    margin-bottom: 68px;
  }

  .form__additional {
    margin-bottom: 62px;
  }

  .form__button {
    width: 46.6%;
  }
}
