.form-section__form {
  margin-top: 38px;
  margin-bottom: 22.5px;
}

.form-section__title {
  @include heading-reset();

  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 34px;
}

.form-section__necessary-mark {
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: $gray-font-color;
  display: block;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form-section__title {
    font-size: 20px;
    line-height: 30px;
  }

  .form-section__form {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form-section__necessary-mark {
    font-size: 16px;
    width: 45%;
    text-align: left;
    padding-top: 11px;
  }
}

@media (min-width: $desktop-width) {
  .form-section__necessary-mark {
    width: 46.6%;
  }
}
