.form__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 23px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.form__comment textarea {
  font-family: inherit;

  &:focus {
    outline: 1px solid blue;
  }
}

.form__programm-target input + label,
.form__additional input + label {
  font-family: inherit;

  &:focus {
    outline: 1px solid blue;
  }
}

.form__cat-data {
  margin-bottom: 19px;
}

.form__owner-data {
  margin-bottom: 6px;
  width: 100%;
}

.form__comment {
  margin-bottom: 30px;
}

.form input {
  border: 1px solid rgba(230, 230, 230, 0.5);
  font-family: inherit;

  &:hover {
    border-color: rgba(230, 230, 230, 1);
  }

  &:focus {
    outline: 2px solid rgba(68, 68, 68, 1);
  }

  &:focus + svg {
    fill: #68b738;
  }

  &[disabled] + label {
    opacity: 0.3;
    color: #222222;
  }

  &:valid {
    border: 1px solid rgba(230, 230, 230, 0.5);
  }
}

.form-field--error {
  outline: 2px solid #ff8282;

  & + svg {
    fill: #ff8282;
  }
}

.form__elements-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .form__blocks-wrapper {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 74px;
    padding-left: 70px;
    padding-right: 67px;
  }

  .form__cat-data {
    margin-bottom: 50px;
    width: 100%;
  }

  .form__programm-target {
    border-bottom: none;
    width: 100%;
  }

  .form__comment {
    margin-bottom: 0;
  }

  .form__owner-data {
    margin-bottom: 44px;
  }

  .form__additional {
    margin-bottom: 22px;
    width: 100%;
  }

  .form__button {
    font-size: 20px;
    line-height: 20px;
    min-height: 52px;
    margin: 0;
    width: 45%;
    cursor: pointer;
  }

  .form__elements-wrapper {
    display: flex;
    justify-content: space-between;
    width: 768px;
    padding: 0 70px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__blocks-wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__cat-data {
    width: 46.7%;
    margin-bottom: 0;
  }

  .form__programm-target {
    width: 46.7%;
  }

  .form__owner-data {
    margin-bottom: 68px;
  }

  .form__additional {
    margin-bottom: 0;
  }

  .form__elements-wrapper {
    width: 1300px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .form__button {
    width: 46.6%;
  }
}
