.location__address-wrapper {
  @include mobile-content-size();

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 26px;
}

.location__title {
  @include paragraph-reset();

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.location__map {
  background-color: #fdf7f0;
}

@media (min-width: $tablet-width) {
  .location__address-wrapper {
    @include tablet-content-size();
  }
}
