.location__address-wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 26px;
}

.location__title {
  @include paragraph-reset();

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.location__map {
  background-color: #fdf7f0;
}

@media (min-width: $tablet-width) {
  .location__address-wrapper {
    width: 708px;
    margin: 0 auto;
  }
}
