.map {
  width: 320px;
  height: 362px;
}

@media (min-width: $tablet-width) {
  .map {
    width: 767px;
    height: 394px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 100%;
    height: 399px;
  }
}
