.nav-menu__button {
  @include button-style-reset();
}

.nav-menu__image-btn {
  width: 24px;
  height: 18px;
}

@media (min-width: $tablet-width) {
  .nav-menu__button {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .nav-menu__list {
    width: 570px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
}
