.owner-data {
  border: none;
  margin: 0;
  padding: 0;
}

.owner-data__heading-wrapper {
  margin-bottom: 0;
  width: 100%;

  &::after {
    height: 3px;
    top: 41%;
    transform: translateY(-57%);
  }
}

.owner-data__heading {
  padding-top: 28px;
  width: 320px;
  margin: 0 auto;
  display: block;
  margin-bottom: 33px;
}

.owner-data__text {
  padding: 0 20px;
  width: 221px;
}

.owner-data__caption {
  margin-bottom: 13px;
  position: relative;
}

.owner-data__caption:last-child {
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .owner-data__heading {
    margin-bottom: 75px;
    width: 768px;
    padding: 0 32px;
  }

  .owner-data__heading-wrapper {
    &::after {
      top: 22%;
    }
  }

  .owner-data__text {
    padding: 0 38px;
    width: auto;
  }

  .owner-data__caption {
    margin-bottom: 18px;
  }
}

@media (min-width: $desktop-width) {
  .owner-data__heading {
    margin-bottom: 76px;
    width: 1300px;
    padding: 44px 0 0;
  }

  .owner-data__heading-wrapper {
    &::after {
      top: 45%;
    }
  }

  .owner-data__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .owner-data__caption {
    width: 46.8%;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
