.owner-data {
  border: none;
  margin: 0;
  padding: 0;
}

.owner-data__heading {
  padding-top: 28px;
  margin-bottom: 34px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 99px;
    height: 3px;
    background-color: #68b738;
    top: 55%;
    right: -20px;
  }
}

.owner-data__caption {
  margin-bottom: 13px;
  position: relative;
}

.owner-data__caption:last-child {
  margin-bottom: 23px;
}
