.page-form__form {
  margin-bottom: 31px;
}

.page-form-wrapper {
  @include mobile-content-size();
}

.page-form__heading {
  @include heading-reset();

  margin: 0 auto;
  padding: 0 20px;
  margin-top: 14px;
  margin-bottom: 25px;
}

.page-form__location {
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .page-form__wrapper {
    width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-form__wrapper {
    width: 1220px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
