.page-main {
  font-family: inherit;
}

.page-main__intro {
  padding-bottom: 22px;
}

.page-main__wrapper-intro {
  @include mobile-content-size();
  margin-top: -164px;
}

.page-main__intro-wrapper {
  background-color: #63a73a;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  text-align: center;
  background-position: 50% 0%;
  padding-bottom: 165px;
  margin-bottom: 25px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.page-main-intro__heading {
  @include heading-reset();

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  padding-top: 26px;
  margin-bottom: 23px;
  color: $white-font-color;
}

.page-main-intro__slogan {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: $white-font-color;
}

.page-main-intro__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
}

.page-main-intro__button {
  width: 100%;
  padding-top: 12px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .page-main__intro {
    background-color: #ffffff;
    background-image: none;
    padding-bottom: 0;
  }

  .page-main__intro-wrapper {
    text-align: left;
    width: auto;
    padding-left: 117px;
    background-image: none;
    background-color: #ffffff;
    padding-bottom: 0;
    margin-bottom: 18px;
  }

  .page-main__wrapper-intro {
    @include tablet-content-size();

    display: flex;
    flex-direction: column;
    text-align: left;
    width: auto;
    position: relative;
  }

  .page-main-intro__heading {
    width: 85%;
    color: #111111;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    padding-top: 56px;
    margin-bottom: 41px;
  }

  .page-main-intro__slogan {
    color: #111111;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }

  .page-main-intro__image {
    order: 2;
    margin: 0;
    margin-bottom: 0;
    width: 709px;
    height: 609px;
    max-width: none;
  }

  .page-main-intro__button {
    order: 1;
    width: 245px;
    height: 52px;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    position: absolute;
    top: 27px;
    left: 15.5%;
    padding: 16px 0;
  }
}

@media (min-width: $desktop-width) {
  .page-main__intro {
    padding-bottom: 134px;
  }

  .page-main__intro-content {
    padding-left: 120px;
    display: flex;
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
  }

  .page-main__intro-wrapper {
    text-align: left;
    padding-left: 0;
    margin-bottom: 0;
    width: 36%;
  }

  .page-main-intro__heading {
    width: 100%;
    margin: 0;
    padding-top: 79px;
    margin-bottom: 41px;
  }

  .page-main__wrapper-intro {
    @include desktop-content-size();

    display: flex;
    flex-direction: column;
    position: static;
    z-index: 2;
    width: 50%;
    margin: 0;
    padding: 0;
    padding-top: 0;
  }

  .page-main-intro__image {
    width: 552px;
    height: 499px;
  }

  .page-main-intro__button {
    top: 63%;
    left: 119px;
  }

  .page-main__targets {
    display: flex;
  }
}
