.product {
  border-bottom: 1px solid #e6e6e6;
}

.product__additional-title {
  display: block;
  padding-top: 80px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.product__additional-subtitle {
  font-family: "Arial", sans-serif;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: $gray-font-color;
  font-weight: 400;
  margin-bottom: 20px;
}

.product__item-wrapper {
  @include mobile-content-size();

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.product__item-wrapper--more {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    top: 41px;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    top: 41px;
    left: 45%;
    transform: rotate(-90deg);
  }
}

.product__picture-wrapper {
  width: 140px;
  margin-bottom: 1px;
}

.product__info-wrapper {
  width: 140px;
  min-height: 144px;
}

.product__image {
  display: block;
  height: 100%;
}

.product__info-heading {
  @include heading-reset();

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 21px;
  margin-bottom: 9px;
}


.product__additional-link {
  background-color: #f2f2f2;
  color: $gray-font-color;
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
    flex-direction: column;
    width: 324px;
    background-color: #f2f2f2;
    padding-bottom: 40px;
  }

  .product__item--additional {
    background-color: #ffffff;
  }

  .product__item-wrapper {
    flex-direction: column;
    width: 250px;
    margin: 0 auto;
  }

  .product__table {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 245px;
  }

  .product__item-wrapper {
    width: 245px;
    margin: 0 auto;
    padding: 0 38px;
  }

  .product__info-heading {
    text-align: center;
  }

  .product__button {
    box-sizing: border-box;
  }

  .product__additional-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
  }
}
