.product-info-heading {
  @include heading-reset();

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.additional-product__heading {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .product-info-heading {
    width: 45%;
  }
}

@media (min-width: $desktop-width) {
  .product-info-heading {
    width: 245px;
  }
}
