.products__item--additional {
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .products-section__wrapper {
    width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .products-section__wrapper {
    width: 1220px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
