.programm-target {
  border: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e6e6e6;
}

.programm-target label {
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }
}

.programm-target input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 9px;
  left: 9px;
  background-color: #68b738;
  border-radius: 50%;
}

.programm-target__field-wrapper {
  margin-bottom: 13px;
  display: flex;
}

.programm-target__field-wrapper span {
  margin-left: 15px;
}

.programm-target__field-wrapper:last-of-type {
  margin-bottom: 19px;
}
