.section-heading {
  font-size: 36px;
  line-height: 60px;
  color: inherit;
  font-family: inherit;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .section-heading {
    font-size: 60px;
  }
}
