.socials {
  @include list-style-reset();

  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .socials {
    align-items: center;
  }

  .socials__item:last-child {
    padding-right: 0;
  }
}
