.targets__target {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 19px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .targets__target {
    padding-bottom: 20px;
    padding-left: 54px;
    margin-bottom: 30px;

    &--loose {
      padding-bottom: 60px;
    }

    &--growth {
      padding-bottom: 60px;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .targets__target {
    padding-right: 280px;

    &--growth {
      padding-right: 310px;
    }
  }
}

@media (min-width: $desktop-width) {
  .targets__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .targets__target {
    width: 570px;
    padding-bottom: 60px;
    padding-right: 0;

    &--growth {
      padding-right: 0;
    }
  }

  .targets__target--loose {
    margin-top: 0;
  }
}
